@{
    ViewData["Title"] = "Basic Chat App Page";
}

<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-3">Sender</div>
        <div class="col-4 mb-3"><input type="text" value="@User?.Identity?.Name"  id="senderEmail" /></div>
    </div>
    <div class="row">
        <div class="col-3">Receiver</div>
        <div class="col-4 mb-3"><input type="text" id="receiverEmail" /></div>
    </div>
    <div class="row">
        <div class="col-3">Message</div>
        <div class="col-4 mb-1"><input type="text" id="chatMessage" /></div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6">
            <input type="button" class="btn btn-primary" id="sendMessage" value="Send Message" />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>
</div>